<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {include file='head.tpl'}
</head>
<body>
    <div class="wrapper">
      <div class="header">
          <div class="header-container">
              <div class="logo">
                  <h1>Billing and Inventory Management</h1>
              </div>
          </div>
      </div>
      <div class="main-content">        	
          {include file='empty.tpl'}
      </div>
    </div>
    <div class="footer">
        <div class="copyright">&copy; 2015 . All rights reserved.</div>
    </div>
    <div id="overlay"></div>
</body>
</html>
